<ion-header>
	<ion-navbar>
		<ion-title>
			Feedback
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-header>
			Provided modal
		</ion-card-header>

		<ion-list>
			<button ion-item (click)="openModal()">
				Open modal
			</button>
		</ion-list>

		<ion-list radio-group>
			<ion-item *ngFor="let language of languages">
				<ion-label>{{language}}</ion-label>
				<ion-radio checked="{{language === selectedLanguage}}" value="{{language}}" (ionSelect)="changeLanguage(language)"></ion-radio>
			</ion-item>
		</ion-list>

		<div *ngIf="selectedLanguage === 'custom'">
			<ion-item>
				<ion-label fixed>title</ion-label>
				<ion-input type="text" [(ngModel)]="translation.title"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>cancel</ion-label>
				<ion-input type="text" [(ngModel)]="translation.cancel"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>send</ion-label>
				<ion-input type="text" [(ngModel)]="translation.send"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>message</ion-label>
				<ion-input type="text" [(ngModel)]="translation.message"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>email</ion-label>
				<ion-input type="text" [(ngModel)]="translation.email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>includeScreenshot</ion-label>
				<ion-input type="text" [(ngModel)]="translation.includeScreenshot"></ion-input>
			</ion-item>
		</div>

	</ion-card>

</ion-content>