<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Settings</ion-title>
		<ion-buttons start>
			<button ion-button hideWhen="android,windows" (click)="close()"> 
				Cancel 
			</button>
			<button ion-button icon-only showWhen="android,windows" (click)="close()"> 
				<ion-icon name="md-close"></ion-icon> 
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button (click)="save()">
				Save
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-header>
			<ion-item>
				Language
			</ion-item>
		</ion-card-header>
		<ion-list radio-group>
			<ion-item *ngFor="let language of languages">
				<ion-label>{{language}}</ion-label>
				<ion-radio checked="{{language === selectedLanguage}}" value="{{language}}" (ionSelect)="changeLanguage(language)"></ion-radio>
			</ion-item>
		</ion-list>
	</ion-card>

	<ion-card *ngIf="selectedLanguage === 'custom'">
		<ion-card-header>
			<ion-item>
				Translation
			</ion-item>
		</ion-card-header>
		<ion-item>
			<ion-label fixed>cancel</ion-label>
			<ion-input type="text" [(ngModel)]="translation.cancel"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>email</ion-label>
			<ion-input type="text" [(ngModel)]="translation.email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>errorSending</ion-label>
			<ion-input type="text" [(ngModel)]="translation.errorSending"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>includeAppInfo</ion-label>
			<ion-input type="text" [(ngModel)]="translation.includeAppInfo"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>includeDeviceInfo</ion-label>
			<ion-input type="text" [(ngModel)]="translation.includeDeviceInfo"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>includeLogMessages</ion-label>
			<ion-input type="text" [(ngModel)]="translation.includeLogMessages"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>includeScreenshot</ion-label>
			<ion-input type="text" [(ngModel)]="translation.includeScreenshot"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>message</ion-label>
			<ion-input type="text" [(ngModel)]="translation.message"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>name</ion-label>
			<ion-input type="text" [(ngModel)]="translation.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>ok</ion-label>
			<ion-input type="text" [(ngModel)]="translation.ok"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>send</ion-label>
			<ion-input type="text" [(ngModel)]="translation.send"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>title</ion-label>
			<ion-input type="text" [(ngModel)]="translation.title"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>manufacturer</ion-label>
			<ion-input type="text" [(ngModel)]="translation.manufacturer"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>model</ion-label>
			<ion-input type="text" [(ngModel)]="translation.model"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>uuid</ion-label>
			<ion-input type="text" [(ngModel)]="translation.uuid"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>serial</ion-label>
			<ion-input type="text" [(ngModel)]="translation.serial"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>platform</ion-label>
			<ion-input type="text" [(ngModel)]="translation.platform"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>version</ion-label>
			<ion-input type="text" [(ngModel)]="translation.version"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>cordova</ion-label>
			<ion-input type="text" [(ngModel)]="translation.cordova"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>isVirtual</ion-label>
			<ion-input type="text" [(ngModel)]="translation.isVirtual"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>appName</ion-label>
			<ion-input type="text" [(ngModel)]="translation.appName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>packageName</ion-label>
			<ion-input type="text" [(ngModel)]="translation.packageName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>versionCode</ion-label>
			<ion-input type="text" [(ngModel)]="translation.versionCode"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>versionNumber</ion-label>
			<ion-input type="text" [(ngModel)]="translation.versionNumber"></ion-input>
		</ion-item>
	</ion-card>

	<ion-card>
		<ion-card-header color="primary">
			<ion-item>
				Categories
				<button ion-button icon-only item-right clear (click)="addCategory()">
					<ion-icon name="ios-add-circle-outline" item-right></ion-icon>
				</button>
			</ion-item>
		</ion-card-header>
		<ion-list reorder="true" (ionItemReorder)="reorderCategories($event)">
			<ion-item *ngFor="let category of categories; let i = index">
				<ion-input type="text" [(ngModel)]="categories[i]"></ion-input>
				<ion-icon name="ios-trash-outline" item-right (click)="deleteCategory(category)"></ion-icon>
			</ion-item>
		</ion-list>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-item>
				Contact
			</ion-item>
		</ion-card-header>
		<ion-list>
			<ion-item>
				<ion-label fixed>Name</ion-label>
				<ion-input type="text" [(ngModel)]="name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label fixed>Email</ion-label>
				<ion-input type="email" [(ngModel)]="email"></ion-input>
			</ion-item>
		</ion-list>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-item>
				Options
			</ion-item>
		</ion-card-header>
		<ion-list>
			<ion-item>
				<ion-label>Attach Screenshot</ion-label>
				<ion-select [(ngModel)]="attachScreenshot" interface="popover">
					<ion-option *ngFor="let state of attachmentStates" [value]="state.value">{{state.text}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Attach Device Info</ion-label>
				<ion-select [(ngModel)]="attachDeviceInfo" interface="popover">
					<ion-option *ngFor="let state of attachmentStates" [value]="state.value">{{state.text}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Attach App Info</ion-label>
				<ion-select [(ngModel)]="attachAppInfo" interface="popover">
					<ion-option *ngFor="let state of attachmentStates" [value]="state.value">{{state.text}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Attach Log Messages</ion-label>
				<ion-select [(ngModel)]="attachLogMessages" interface="popover">
					<ion-option *ngFor="let state of attachmentStates" [value]="state.value">{{state.text}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
	</ion-card>

</ion-content>